/*********** 背景色 start **********/
.primary-bg {
    background-color: color($colors, primary)!important;
    .toolbar {
      .toolbar-background {
        background-color: color($colors, primary)!important;
      }
      .toolbar-title{
        color: color($colors, light)!important;
      }
    } 
}
/*********** 背景色 end **********/

/***** segment颜色定制 start *********/
.segment-md .segment-button {
  color: color($colors, gray) !important;
}
.segment-md .segment-button.segment-activated {
  color: color($colors, primary) !important;
  font-weight: bold;
  .bolder-sm{
      border: 5px solid color($colors, primary);
      width: 20px;
      margin: 0 auto;
  }
}
/***** segment颜色定制 end ********/
